/* Rtttt en programas */

.follow-programs-delegaciones {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width:25%;
}
.contenedor_lista_WDM .follow-programs-delegaciones{
   width:25%;
top:22px;right:175px;

}
.follow-programs-delegaciones h {
    float: right;
    margin: 0 50px 0 0;
    padding-left: 20px;
    font-weight: bold;
    font-size: 14px;
	color: white;
}
.follow-programs-delegaciones ul {
    list-style: none;
    padding: 0;
	margin: 0;
}
.follow-programs-delegaciones a {
    float: left;
	margin-left: 28px;
    margin-right: -23px;
    margin-top: 5px;
}
.follow-programs-delegaciones a {
    border-radius: 50%;
    padding: 2px;
    color: #fff;
    font-size: 15px;
    height: 25px;
    width: 26px;
    display: block;
    text-align: center;
    line-height: 26px;
    vertical-align: middle;
}

.follow-programs-delegaciones {/*top: 149px;*/top: 115px; /*left: 250px;*/ right:0;}
.btn {
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.btn [class*="icon-"] {
  padding: 6px 5px;
  float: left;
}
.aside .btn [class*="icon-"] {
  padding: 5px;
  float: left;
}

.btn-youtube {
  /*background-color: #b61821;*/
  background-color: #e13536;
}
.btn-instagram {
/*  background-color: #3f729b;*/
   background-color: #f09433;
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  background-repeat: no-repeat;
}
.btn-facebook {
  background-color: #006db3;
}
.btn-twitter {
  background-color: #67c6ef;
}
.btn-email {
  background-color: #00b4b4;
}
.btn-tumblr {
  background-color: #6f83a5;
}
.btn-gplus {
  background-color: #d34836;
}
.btn-pinterest {
  background-color: #cb2027;
}
.btn-itunes {
  background-color:#9d4cda
}
.btn-itunes:hover {
    background-color: #5e208c;
}
.social-aside [class*="btn-"] {
    -moz-transition: background .25s ease-out;
    -ms-transition: background .25s ease-out;
    -webkit-transition: background .25s ease-out;
    -o-transition: background .25s ease-out;
    transition: background .25s ease-out;
    text-shadow: none;
}
.btn-youtube:hover {
  background-color: #044E7D;
}
.btn-instagram:hover {
  /*background-color: #A76416;*/
  opacity:0.6;
}
.btn-facebook:hover {
  background-color: #044E7D;
}
.btn-twitter:hover {
  background-color: #4993B3;
}
.btn-email:hover {
  background-color: #00b4b4;
}
.btn-tumblr:hover {
  background-color: #304569;
}
.btn-gplus:hover {
  background-color: #B72815;
}
.btn-pinterest:hover {
  background-color: #940006
}
.btn-itunes:hover{
  background-color:#5e208c;
}

@media screen and (max-width: 980px){
.follow-programs-delegaciones {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width:250px;
}
.contenedor_lista_WDM .follow-programs-delegaciones{
   width:250px;
top:22px;right:175px;

}
.follow-programs-delegaciones h {
    float: left;
    margin: 0px 20px -20px 20px;
    font-weight: bold;
    font-size: 14px;
	color: white;
}
.follow-programs-delegaciones ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.follow-programs-delegaciones a {
    float: left;
    margin: 1px 4px;
    margin-top: 29px;
}
.follow-programs-delegaciones a {
    border-radius: 50%;
    padding: 2px;
    color: #fff;
    font-size: 15px;
    height: 25px;
    width: 26px;
    display: block;
    text-align: center;
    line-height: 26px;
    vertical-align: middle;
}
.follow-programs-delegaciones {/*top: 129px;*/top: 115px; /*left: 250px;*/ right:0;}
}
@media screen and (max-width: 1500px){
.follow-programs-delegaciones {/*top: 129px;*/top: 100px; /*left: 250px;*/ right:0;}
.follow-programs-delegaciones h {
    float: left;
    margin: 0 20px 0 20px;
    font-weight: bold;
    font-size: 14px;
	color: white;
}
.follow-programs-delegaciones {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width:28%;
}
}
@media screen and (max-width: 1080px){
.follow-programs-delegaciones {/*top: 99px;*/top: 80px; /*left: 200px;*/ right:0;}
.follow-programs-delegaciones h {
    float: left;
    margin: 0 20px 0 20px;
    font-weight: bold;
    font-size: 14px;
	color: white;
}
.follow-programs-delegaciones {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width:32%;
}
}

@media screen and (max-width: 720px){
.follow-programs-delegaciones {/*top: 109px;*/top: 85px; /*left: 250px;*/ right:0;}
}

@media screen and (max-width: 600px){
.follow-programs-delegaciones {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width:23%;
}
.contenedor_lista_WDM .follow-programs-delegaciones{
   width:280px;
top:22px;right:175px;

}
.follow-programs-delegaciones h {
    float: center;
    margin: 5px 8px -10px 0;
    font-weight: bold;
    font-size: 10px;
	color: white;
}
.follow-programs-delegaciones ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.follow-programs-delegaciones a {
    float: left;
    margin: 1px 4px;
    margin-top: 6px;
}
.follow-programs-delegaciones a {
    border-radius: 50%;
    padding: 1px;
    color: #fff;
    font-size: 10x;
    height: 15px;
    width: 16px;
    display: block;
    text-align: center;
    line-height: 16px;
    vertical-align: middle;
}
.follow-programs-delegaciones {/*top: 74px; */ top: 60px; /*left: 200px;*/ right:20px;}
}

@media screen and (max-width: 580px){
.follow-programs-delegaciones {/*top: 109px;*/ top: 50px; /*left: 250px;*/ right:0;}
.follow-programs-delegaciones {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width:27%;
}
}
@media screen and (max-width: 550px){
.follow-programs-delegaciones {/*top: 109px;*/ top: 50px; /*left: 250px;*/ right:0;}
.follow-programs-delegaciones {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    width:29%;
}
}
@media screen and (max-width: 500px){
.follow-programs-delegaciones {
   font-family: 'Poppins', sans-serif;
    position: absolute;
    width: 94.3%;
    background-color: #000;
  
}
.follow-programs-delegaciones {
    /* top: 109px; */
    top: 98px;
    left: 10px;
    right: 10px;
}
